.receiverHeader {
  padding: 8px 1rem;
}
.profilePicture {
  height: 3.063rem;
  width: 3.063rem;
  border-radius: 10rem;
  margin-right: 0.9rem;
}

.messages {
  height: 81vh;
  padding: 0px 63px;
}

.chatInputContainer {
  margin: 0px 0.5rem;
}
.chatInput {
  width: 100%;
  height: 2.7rem;
  margin: 1rem 0px;
  background-color: var(--bg-color-ligth);
  border-radius: 0.4rem;
  padding: 1rem;
  border: none;
}
.chatInput:focus {
  outline: none;
}
.chatInput::placeholder {
  color: var(--secondary-medium);
}