.receiverHeader {
  display: flex;
  align-items: center;
  padding: 8px 1rem;
  height: 8.6vh;
}
.profilePicture {
  height: 3.063rem;
  width: 3.063rem;
  border-radius: 10rem;
  margin-right: 0.9rem;
}

.messages {
  height: 82.4vh;
  padding: 0px 63px;
}

.chatInputContainer {
  display: flex;
  padding: 0.7rem 1rem;
  height: 9vh;
}
.chatInput {
  width: 100%;
  background-color: var(--bg-color-ligth);
  border-radius: 0.4rem;
  padding: 1rem;
  border: none;
}
.chatInput:focus {
  outline: none;
}
.chatInput::placeholder {
  color: var(--secondary-medium);
}