.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: var(--ligth-medium);
  font-size: 32px;
  margin-top: 3rem;
}

.subtitle {
  color: var(--secondary);
  font-size: 0.9rem;
  margin-top: 0.6rem;
}

.footerText {
  font-size: 0.9rem;
  color: var(--secondary-medium);
}
